@font-face {
    font-family: 'IRAN';
    src: url('/src/assets/font/IRANYekanX(Eco)/Webfonts/woff/IRANYekanX-Regular.woff') format('woff2'),
}
@font-face {
    font-family: '';
    src: url(''),
}
  